{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}


  <!-- Contact Us Start -->
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="bg-light rounded p-5">
        <div class="row g-4">
          <div class="col-lg-5">
            <div class="">
              <h1 class="mb-4">General Customer Care & Technical Support</h1>
              <p class="mb-4">
                The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.
              </p>
              <div class="rounded">
                <iframe class="rounded w-100" style="height: 425px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.167543870429!2d71.78012991227467!3d40.38297915757262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb83d394a3a5c9%3A0xaa21a6bf41cf03e!2sCodial%20ta&#39;lim%20markazi!5e0!3m2!1sru!2s!4v1745179875729!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          <div class="col-lg-7">


            <form action="" class="mb-4" method="post">
              {% csrf_token %}
              <div class="row g-4">
                <div class="col-lg-6">
                  <input type="text" class="w-100 form-control border-0 py-3" name="name" placeholder="Ismingizni kiriting..." />
                </div>
                <div class="col-lg-6">
                  <input type="email" class="w-100 form-control border-0 py-3" name="email" placeholder="Email kiriting..." />
                </div>
                <div class="col-lg-6">
                  <input type="text" class="w-100 form-control border-0 py-3" name="phone_number" placeholder="Telefon raqamingiz..." />
                </div>
                <div class="col-lg-6">
                  <input type="text" class="w-100 form-control border-0 py-3" name="subject" placeholder="Mavzu..." />
                </div>
                <div class="col-12">
                  <textarea class="w-100 form-control border-0" rows="6" cols="10" name="message" placeholder="Xabar..."></textarea>
                </div>
                <div class="col-12">
                  <button class="w-100 btn btn-primary form-control py-3" type="submit">yuborish</button>
                </div>
              </div>
            </form>


            <div class="row g-4">
              <div class="col-xl-6">
                <div class="d-flex p-4 rounded bg-white">
                  <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                  <div>
                    <h4>Address</h4>
                    <p class="mb-0">123 Street New York.USA</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="d-flex p-4 rounded bg-white">
                  <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                  <div>
                    <h4>Mail Us</h4>
                    <p class="mb-0">info@example.com</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="d-flex p-4 rounded bg-white">
                  <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                  <div>
                    <h4>Telephone</h4>
                    <p class="mb-0">(+012) 3456 7890</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="d-flex p-4 rounded bg-white">
                  <i class="fa fa-share-alt fa-2x text-primary me-4"></i>
                  <div>
                    <h4>Share</h4>
                    <div class="d-flex">
                      <a class="me-3" href=""><i class="fab fa-twitter text-dark link-hover"></i></a>
                      <a class="me-3" href=""><i class="fab fa-facebook-f text-dark link-hover"></i></a>
                      <a class="me-3" href=""><i class="fab fa-youtube text-dark link-hover"></i></a>
                      <a class="" href=""><i class="fab fa-linkedin-in text-dark link-hover"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Us End -->
{% endblock %}
